# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\vue_udemy\filter_mixin\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
